[submodule "repo-runner"]
	path = repo-runner
	url = https://github.com/Chloe2330/repo-runner.git
	branch = main
[submodule "yaml_checker"]
	path = yaml_checker
	url = https://github.com/Ranasinghe843/yaml_checker.git
	branch = main
